<!--
Used in item_new.html for cards that represent options
id: id of card
parent_id: id of accordion
header: header title
options: [{label: str, subtext: str}]
-->

<div class="card" id="item_option{{ id }}">
    <div class="card-header" id="item_option{{ id }}Header">
        <div class="mb-0 d-flex">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#item_option{{ id }}Collapse" aria-expanded="true" aria-controls="item_option{{ id }}Header">
                <i class="bi bi-arrow-down"></i> {{ header }}
            </button>
            <button class="bi bi-pen btn btn-primary ml-auto mr-3 align-middle" title="Edit option" type="button" onclick="item_option_edit({{id}})"></button>
            <button class="bi bi-trash btn btn-danger align-middle" title="Remove Option from list" type="button" onclick="$('#item_option{{id}}').remove()"></button>
        </div>
    </div>

    <div id="item_option{{ id }}Collapse" class="collapse show" aria-labelledby="{{id}}Header" data-parent="#{{parent_id}}">
        <div class="card-body">
            <ul class="list-group">
                {% if option %}
                {% for option in options %}
                    {% include "common/item_option_value_card.html" with label=option.label subtext=option.subtext %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>