{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'local/bootstrap/css/bootstrap.min.css' %}">


<script content="text/javascript" src="{% static 'local/jquery-3.3.1.min.js' %}"></script>
<script content="text/javascript" src="{% static 'local/popper.min.js' %}"></script>
<script content="text/javascript" src="{% static 'local/bootstrap/js/bootstrap.min.js' %}"></script>


<!-- Date-picker -->
<script content="text/javascript" src="{% static 'local/bootstrap-datepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'local/bootstrap-datepicker3.css' %}"/>

<!-- Select -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'local/bootstrap-select.min.css' %}">

<!-- Latest compiled and minified JavaScript -->
<script content="text/javascript" src="{% static 'local/bootstrap-select.min.js' %}"></script>

<!-- icons -->
<link rel="stylesheet" href="{% static 'local/bootstrap-icons/bootstrap-icons.css' %}">


<!-- sidebar -->
<link rel="stylesheet" href="{% static 'local/jquery.mCustomScrollbar.min.css' %}">
<script content="text/javascript" src="{% static 'local/jquery.mCustomScrollbar.concat.min.js' %}"></script>


<!-- sortable -->
<script content="text/javascript" src="{% static 'local/jquery-ui.js' %}"></script>


<!-- validating -->
<script content="text/javascript" src="{% static 'local/jquery.validate.min.js' %}"></script>

<script content="text/javascript" src="{% static 'main.js' %}"></script>

<link rel="stylesheet" href="{% static 'main.css' %}">
