<!--
id: id of input
label: label of input
options: [{label: label of option,
          subtext?: subtext of option (d: None),
          value?: value of option (d: label),
          title?: title of option (d: None),
          class?: class of option (d: None)}] | [labels]
on_change?: function to be called when changed. must take element as param d: None
required?: is required d: False
data_width?: how options fit either "auto" "fit" or %/rem d: "auto"
data_size?: how many options are shown at once d: None
max_options?: 1 if only one, -1 for any amount
label_class?: class of label input d: ""
select_class?: class of select input d: "selectpicker form-control"
-->

<div class="{{container_class|default:'form-group'}}">
    <label for="{{id}}" class="{{label_class|default:''}}" >{{label}}</label>
    <select class="{{select_class|default:'selectpicker form-control'}}" id="{{id}}"
            {% if max_options > 1 or max_options == -1 %}
            multiple
            {% endif %}
            {% if max_options > 1 %}
            data-max-options="{{max_options}}"
            {% endif %}
            data-width="{{data_width|default:'auto'}}"
            {% if data_size %}
            data-size="{{data_size}}"
            {% endif %}
            {% if on_change %} onchange="{{on_change}}(this)" {% endif %}
            {% if required %} required {% endif %}
            name="{{id}}"
        >
        {% for option in options %}
        <option {% if 'title' in option %}title="{{option.title}}"{% endif %}
                {% if 'value' in option %}value="{{option.value}}"{% endif %}
                {% if 'class' in option %}class="{{option.class}}"{% endif %}
                {% if "subtext" in option %}data-subtext="{{option.subtext}}"{% endif %}>
            {% if 'label' in option %}{{option.label}}{% else %}{{option}}{% endif %}
        </option>
        {% endfor %}
    </select>
</div>