<!--
order: Order being referred to
cataloged_items: [{sub_type: str, items: [CatalogedItem]}]; Used for order_item_modal
users: all users in the list
-->

{% extends "base.html" %}

{% block title %}Order #{{ order.id }}{% endblock %}

{% block body %}

<style>
    body {
        overflow-x: hidden;
    }

    .rounded-xl {
        border-radius: 1em;
    }

</style>
<div class="w-100 mb-5 p-2 border d-flex">
    <a class="p-2 align-self-center" href="/orders/">
        <span class="bi bi-arrow-return-left"> Order #{{ order.id }}</span>
    </a>
    <div class="p-2 align-self-center ml-2">
        <label>Status</label>
        <select class="selectpicker" id="order_status">
            <option value="Cancelled">Cancelled</option>
            <option value="Active">Active</option>
            <option value="Production Hold">Production Hold</option>
            <option value="Ready To Invoice">Ready To Invoice</option>
            <option value="Invoiced">Invoiced</option>
            <option value="Paid">Paid</option>
        </select>
    </div>

    <div class="p-2 align-self-center ml-auto">
        <button class="btn btn-outline-danger"><span class="bi bi-trash"></span> Delete Order</button>
    </div>
</div>

<div class="row">
    <!-- selection bar -->
    <div class="col-2">
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_overview">Overview
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_participants">
            Participants
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_items">Items</div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_design">Engraving
            Design
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_proof">Design
            Proofs
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_placement">Memorial
            Placement
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_tasks">Tasks</div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_documents">
            Documents
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_summary">Financial
            Summary
        </div>
        <div class="toggle-btn btn-block btn border mb-0 mt-0 p-3 rounded-xl" data-activate="order_tracking">Expense
            Tracking
        </div>
    </div>
    <!-- body -->
    <div class="toggle-group col-8 mb-5">
        <div class="toggle-item border toggle-default" id="order_overview">
            {% include "sections/order_overview_section.html" %}
        </div>
        <div class="toggle-item" id="order_participants">
            <h1 class="text-center">Participants</h1>
        </div>
        <div class="toggle-item" id="order_items">
            {% include "sections/order_item_section.html" %}
        </div>
        <div class="toggle-item" id="order_design">
            <h1 class="text-center">Design</h1>
        </div>
        <div class="toggle-item" id="order_proof">
            <h1 class="text-center">Proofs</h1>
        </div>
        <div class="toggle-item" id="order_placement">
            <h1 class="text-center">Placement</h1>
        </div>
        <div class="toggle-item" id="order_tasks">
            <h1 class="text-center">Tasks</h1>
        </div>
        <div class="toggle-item" id="order_documents">
            <h1 class="text-center">Documents</h1>
        </div>
        <div class="toggle-item" id="order_summary">
            <h1 class="text-center">Financial Summary</h1>
        </div>
        <div class="toggle-item" id="order_tracking">
            <h1 class="text-center">Expense Tracking</h1>
        </div>
    </div>
</div>
{% include "common/toggle.html" with bg=True%}

<script>
    $(".datepicker").datepicker();
    function order_status_data_style(text) {
        return "badge-" + text.toLowerCase().replaceAll("/", "-").replaceAll(" ", "-");
    }
    $("#order_status").change(function(e) {
        let text = order_status_data_style(e.target.value);
        // I hate bugs that libraries dont fix...
        $("#order_status").selectpicker("setStyle", "btn badge-paid badge-cancelled badge-active badge-production-hold badge-ready-to-invoice badge-invoiced", "remove").selectpicker("setStyle", "btn " + text, "add");
    });

    $("#order_status").selectpicker("val", "{{order.overview.status}}").selectpicker("refresh").change();
</script>

{% endblock %}