<!--
input_id?: id of input textbox d: search_box
target_id: id of container element to search through
-->

<div class="input-group">
    <span class="input-group-addon p-2"><i class="bi bi-search"></i></span>
    <input type="text" name="search" placeholder="Search..." class="form-control" id="{{input_id|default:'search_box'}}"/>
</div>

<script>
$(document).ready(function(){
  $("#{{ input_id|default:'search_box' }}").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#{{ target_id }}").children().filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>