<!--
order: ...
users: all users
-->

<style>
    .w-30 {
        width: 30%;
    }
    .visibility-hidden {
        visibility: hidden;
    }
</style>

<h1 class="text-center">Tasks</h1>
<hr>

<div class="container bg-gradient-primary p-2 mt-3">
    {% for item in order.item_set.items.all %}
        {% include "common/order_task_item_card.html" with item=item %}
    {% endfor %}
</div>

<script>

    function order_task_post_comment(task_id) {
        let comment = $(`#order_task_add_comment_${task_id}`);
        hide(comment.parent());
        sendHttpAsync(`/orders/tasks/comment`, "POST", {content: comment.val(), user_task_id: task_id}).then(resp => {
            $(`#order_task_comments_${task_id}`).append(task_comment_listener($(resp.body.body)));
        }).catch(err => {
            notify("danger", `Error: Could not post comment ${err}`);
        })
    }

    function order_task_show_comment(task_id) {
        let comment = $(`#order_task_add_comment_${task_id}`);
        if (!comment.parent().hasClass("transition")) {
            unhide(comment.parent());
        } else {
            hide(comment.parent());
        }
    }

    function order_task_edit_comment(comment_id) {
        let content = $(`.task-comment-${comment_id}`).find(".comment-content");
        content.old_text = content.html();
        let text = content.html().trim().replaceAll("<br>", "\n");
        content.html(`<textarea class="form-control" type="text">${text}</textarea>`);
        let el = $(`
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-danger">Cancel</button>
            <button class="btn btn-outline-primary ml-1">Save</button>
        </div>
        `).insertAfter(content.find("textarea"));
        el.find(".btn-outline-danger").on("click", function() {order_task_comment_edit_cancel(content)});
        el.find(".btn-outline-primary").on("click", function() {order_task_comment_edit_save(content)});
    }

    function order_task_comment_edit_cancel(content) {
        content.html(content.old_text);
    }

    function order_task_comment_edit_save(content) {
        let id = content.prop("id").substring("task_comment_".length);
        sendHttpAsync(`/orders/tasks/comment/${id}`, "POST", {content: content.find("textarea").val(), user_task_id: -1}).then(resp => {
            let a = $(task_comment_listener($(resp.body.body))).not("hr");
            content.parent().parent().replaceWith(a);
        }).catch(err => {
            notify("danger", `Error: Could not post comment ${err}`);
        });
    }


    function order_task_delete_comment(comment_id) {
        sendHttpAsync(`/orders/tasks/comment/${comment_id}`, "DELETE").then(resp => {
            $(`.task-comment-${comment_id}`).remove();
        }).catch(err => {
            notify("danger", `ERROR: Could not delete comment ${err}`);
        });
    }

    function task_comment_listener(obj) {
        obj.hover(function() {
            unhide($(this).find(".show-on-hover"));
        }, function() {
            hide($(this).find(".show-on-hover"));
        });
        return obj;
    }

    function order_task_reset(obj) {
        let task_id = obj.prop("id").substring("order_user_task_".length);
        obj.find(".started-on-text").html(`<a href="javascript:void(0)" onclick="order_task_force_start(${task_id})">Force start</a>`);
        obj.find(".completed-on-text").html("Not Completed");
        obj.find(".badge").removeClass("badge-warning").removeClass("badge-success").addClass("badge-missing");
    }

    $(document).ready(function() {
        task_comment_listener($(".task-comment"));
        $("select.userpicker").on("change", function() {
            let vals = $(this).val();
            let select_id = $(this).prop("id");
            select_id = select_id.substring("order_user_task_".length, select_id.length - "_select".length);
            sendHttpAsync(`/orders/tasks/${select_id}`, "post", vals).then(resp => {
                let root = $(this).parent().parent().parent().parent();
                order_task_reset(root);
            }).catch(err => {
                notify("danger", `Error: Error updating User Task: ${err}`);
            });
        });

    });

    function order_start_task(obj, time) {
        obj.find(".started-on-text").html(`<div class="text-muted">${time}</div>`);

        // not started is badge-missing, started is badge-warning
        obj.find(".badge").removeClass("badge-missing").addClass("badge-warning");

        let obj_id = obj.prop("id").substring("order_user_task_".length);
        obj.find(".completed-on-text").html(`<a href="javascript:void(0)" onclick="order_task_mark_complete(${obj_id})">Mark as Complete</a>`);
    }

    function order_complete_task(obj, completed_time, start_time) {
        obj.find(".completed-on-text").html(`<div class="text-muted">${completed_time}</div>`);
        // started is badge-warning, finish is badge-success
        obj.find(".badge").removeClass("badge-warning").addClass("badge-success");
        if (start_time !== null) {
            order_start_task(obj.next(), start_time);
        }
    }

    function order_task_status(task_id) {
        return sendHttpAsync(`/orders/tasks/status/${task_id}`, "get").then(resp => resp.body.status).catch(err => {
            notify("danger", `ERROR: Could not fetch task status ${err}`);
        });
    }

    function order_task_status_set(obj, status) {
        obj.removeClass("badge-success").removeClass("badge-warning").removeClass("badge-missing").addClass(`badge-${status}`);
    }

    function order_task_force_start(task_id) {
        sendHttpAsync(`/orders/tasks/start/${task_id}`, "post").then(resp => {
            // resp: body: {"start_time": str}
            order_start_task($(`#order_user_task_${task_id}`), resp.body.start_time);
            order_task_status(task_id).then(status => {
                let obj = $(`#order_user_task_${task_id}`).parent().parent().parent().find(".status-btn");
                order_task_status_set(obj, status);
            });

        }).catch(err => {
            notify("danger", `ERROR: Could not start task: ${err}`);
        })
    }

    function order_task_mark_complete(task_id) {
        sendHttpAsync(`/orders/tasks/complete/${task_id}`, "post").then(resp => {
            // resp: body: {completed_time: str,  start_time: [of new task] str | null}
            let current_task = $(`#order_user_task_${task_id}`);
            order_complete_task(current_task, resp.body.completed_time, resp.body.start_time);
            order_task_status(task_id).then(status => {
                let obj = $(`#order_user_task_${task_id}`).parent().parent().parent().find(".status-btn");
                order_task_status_set(obj, status);
            });

        }).catch(err => {
            notify("danger", `ERROR: Could not complete task: ${err}`);
        });
    }

    function order_task_auto_reassign(cataloged_item_id, obj) {
        // return is resp: body: {"tasks": ["task_id": str, "user_id": int]}
        sendHttpAsync(`/users/assign/${cataloged_item_id}`, "GET").then(resp => {
            let tasks = JSON.parse(resp.body).tasks;
            obj = $(obj).parent();
            for (let task of tasks) {
                let select = obj.find(`.userpicker.cataloged-task-${task.task_id}`);
                select.val(task.user_id).selectpicker("refresh");
                select.change();

            }
        }).catch(err => {
            notify("danger", `ERROR: Could not auto reassign task... ${err}`);
        });
    }

    function order_task_hide_content(obj) {
        let button = $(obj);
        let content = button.parent().parent().parent().find(".order-task-content");
        if (button.text() === "Hide") {
            hide(content);
            button.text("Unhide");
            return;
        }
        unhide(content);
        button.text("Hide");

    }

</script>