<h1 class="text-center">
    Memorial Placement
</h1>

<style>
    .placement-bar {
        width: 200% !important;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }
</style>

<div class="d-flex justify-content-center w-100 mb-3">
    <div class="w-75">
        <div class="form-check d-flex justify-content-center mb-3">
            <input class="form-check-input" type="radio" name="placementStandHere">
            <label class="form-check-label mt-3">
                Stand here to read Monument
            </label>
        </div>
        <div id="order_placement_grid">
            <div class="d-flex">
                <div class="col placement-droppable p-0">
                    <div class="bg-dark placement-bar text-light text-center" id="order_placement_drag">Monument</div>
                </div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col p-0">&ZeroWidthSpace;</div>
            </div>
            <div class="d-flex mt-1 mb-1">
                <textarea class="col text-center"></textarea>
                <textarea class="col text-center"></textarea>
                <textarea class="col text-center"></textarea>
                <textarea class="col text-center"></textarea>
            </div>
            <div class="d-flex">
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col p-0">&ZeroWidthSpace;</div>

            </div>
            <div class="d-flex mt-1 mb-1">
                <textarea class="col text-center"></textarea>
                <textarea class="col text-center"></textarea>
                <textarea class="col text-center"></textarea>
                <textarea class="col text-center"></textarea>
            </div>
            <div class="d-flex">
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col placement-droppable p-0">&ZeroWidthSpace;</div>
                <div class="col p-0">&ZeroWidthSpace;</div>
            </div>
        </div>
        <div class="form-check d-flex justify-content-center mt-3">
            <input class="form-check-input" type="radio" name="placementStandHere">
            <label class="form-check-label mt-3">
                Stand here to read Monument
            </label>
        </div>
    </div>
</div>


<h3 class="text-center mt-5">
    Cemetery Placement
</h3>
<hr>

<div class="d-flex justify-content-center">
    <div class="m-3">
        <div class="d-flex">
            <label class="align-self-center badge badge-pill badge-info mr-3">Section</label>
            <input type="text" class="form-control">
        </div>
        <div class="d-flex mt-2">
            <label class="align-self-center badge badge-pill badge-info mr-3">Lot</label>
            <input type="text" class="form-control">
        </div>
        <div class="d-flex mt-2">
            <label class="align-self-center badge badge-pill badge-info mr-3">Grave</label>
            <input type="text" class="form-control">
        </div>
        <div class="d-flex mt-2">
            <label class="align-self-center badge badge-pill badge-info mr-3">Face Stone</label>
            <select class="selectpicker">
                <option>Unspecified</option>
                <option>North</option>
                <option>South</option>
                <option>East</option>
                <option>West</option>
            </select>
        </div>
        Notes
        <textarea class="w-100"></textarea>
    </div>
</div>

<script>
    function order_placement_set_draggable() {
        $("#order_placement_drag").draggable({
            cursor: "move",
            helper: "clone",
            snap: true,
            snapTolerance: 100,
        });
    }
    setInterval(order_placement_set_draggable, 1000); // this is a bad way of fixing it... oh well!

    order_placement_set_draggable();
    $(".placement-droppable").droppable({
        hoverClass: "ui-state-active",
        drop: function (ev, ui) {
            $(this).text("");
            $(ui.draggable).appendTo(this).data("in", true);
        },
    });





</script>