<!-- For /orders/new -> 'Add Item' or 'edit' item

cataloged_items: [{sub_type: str, items: [CatalogedItem]}]
refers: id of item being referred to
-->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="order_item_modal_label"
     aria-hidden="true" id="order_item_modal" data-refers="{{refers}}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order_item_modal_label">New Item</h5>
                <button type="button" class="close" onclick="order_item_close_modal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Item</h4>
                <hr>
                <div class="d-flex">
                    <label class="badge badge-pill badge-info align-middle align-self-center">Item Type:</label>
                    <!-- TODO: if this item is being edited, this should be disabled -->
                    <select class="selectpicker ml-2" data-size="10" id="order_item_type" title="Select an item...">
                        {% for cataloged_item in cataloged_items %}
                        <optgroup label="{{ cataloged_item.sub_type }}">
                            <!-- todo if its delete -->
                            {% for item in cataloged_item.items %}
                            <option value="{{ item.id }}">{{ item.type }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <h4 class="mt-3" id="order_item_specs">Specifications</h4>
                <hr>
                <div class="d-flex flexbox flex-wrap" id="order_item_options">
                    <!-- common/order_item_option.html -->
                </div>
                <div class="d-flex mt-5" id="order_item_dimensions">
                    <label class="badge badge-pill badge-info align-self-center align-middle">Length:</label>
                    <input class="form-control w-25 ml-2 mr-2 align-self-center" type="number">
                    <label class="badge badge-pill badge-info align-self-center align-middle">Width:</label>
                    <input class="form-control w-25 ml-2 mr-2 align-self-center" type="number">
                    <label class="badge badge-pill badge-info align-self-center align-middle">Height:</label>
                    <input class="form-control w-25 ml-2 mr-2 align-self-center" type="number">
                </div>
                <h4 class="mt-3">Information</h4>
                <hr>
                <div class="d-flex justify-content-between w-75">
                    <div class="d-flex">
                        <label class="badge badge-pill badge-success align-self-center align-middle mr-3">Price:</label>
                        <div class="align-middle align-self-center mr-1">
                            $
                        </div>
                        <input class="form-control w-50" type="number" id="order_item_price">
                    </div>
                    {% include "forms/check.html" with label="Tax Exempt" id="order_item_tax_exempt" container_class="align-self-center"%}
                </div>
                <label class="badge badge-pill badge-info mt-3">Notes:</label>
                <textarea class="form-control" rows="4" id="order_item_notes"></textarea>
                <div id="order_item_task_set">
                    <div class="d-flex mt-3">
                        <h4 class="mr-auto">Tasks</h4>
                        <button class="btn btn-primary btn-sm badge align-self-end" onclick="order_item_auto_assign_tasks()" id="order_item_auto_assign" data-refers="">Auto Assign</button>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="container" id="order_item_tasks">
                            <!-- common/order_item_task.html -->
                        </div>
                    </div>
                </div>
                <h4 class="mt-3">
                    Submit
                </h4>
                <hr>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" onclick="order_item_close_modal()">Cancel</button>
                    <button class="btn btn-success" type="button" onclick="order_item_submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>