<!--shows all tasks of a given item

users: all users
item: OrderItem

-->

<div class="container border">
    <div class="mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <h4>{{ item.cataloged_item.type }}</h4>
            <button class="ml-2 align-self-center btn badge badge-{{ item.task_status }} status-btn" onclick="order_task_hide_content(this)">Hide</button>
        </div>
        <div class="d-flex justify-content-between">
            <small class="text-muted">{{ item.cataloged_item.sub_type }}</small>
        </div>

        <div class="d-flex flexbox">
            {% for spec in item.specification_set.specifications.all %}
            <div class="align-self-center mr-3">
                <small class="text-muted">{{spec.option.key}}:</small>
                {% for value in spec.values.all %}
                <div class="badge badge-pill badge-item ml-1">{{value.label}}{% if value.subtext %}<small
                        class="ml-1 align-self-end">{{value.subtext}}</small>{% endif %}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <p class="text-muted">{{item.notes|linebreaksbr}}</p>
    </div>
    <div class="d-flex justify-content-center hidden transition order-task-content">
        <div class="w-100">
            <button class="btn btn-primary badge mb-2" onclick="order_task_auto_reassign({{ item.cataloged_item.id }}, this)">
                Auto Re-Assign
            </button>
            {% for task in item.user_tasks.all %}
            {% include "common/order_task_card.html" with task=task %}
            {% endfor %}
        </div>
    </div>
</div>
