.bg-accent {
    background: #f5f5f5;
}

.nowrap {
    white-space: nowrap;
}

.hidden {
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.hidden.transition {
    height: auto;
    opacity: 1;
    overflow: visible;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.overflow-show {
    overflow: show;
}

.pmb-3 > p {
    margin-bottom: 3;
}


.badge-production-hold {
    color: #fff;
    background-color: var(--gray);
}

.badge-ready-to-invoice {
    color: #fff;
    background-color: var(--cyan);
}

.badge-active {
    color: #fff;
    background-color: var(--teal);
}

.badge-cancelled {
    color: #fff;
    background-color: var(--red);
}

.badge-invoiced {
    color: #fff;
    background-color: var(--blue);
}

.badge-missing {
    color: #fff;
    background-color: var(--orange);
}

.badge-paid {
    color: #fff;
    background-color: var(--green);
}

.badge-item {
    color: #fff;
    background-color: #aaa;
}

.rounded-m {
    border-radius: 25px;
}

.link-dark {
    color: var(--dark) !important;
}