<form action="post" class="container pt-3 rounded bg-light">
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class="form-control" placeholder="example@example.com" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="input" class="form-control" placeholder="Enter password" id="password">
    </div>
    <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>