<!--
orders: all orders TODO filters and stuff oml
-->

{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block body %}

<div class="container text-center p-2 mt-5">
    <h1>Orders</h1>
    <a href="new" rel="" class="btn btn-success" role="button">New Order</a>
</div>

<div class="container bg-gradient-primary border p-2 ">
    <div class="justify-content-center mb-5">
        <div class="d-flex">
            <!-- TODO maybe this https://www.solodev.com/blog/web-design/adding-pagination-to-your-website.stml -->
            {% include "common/search.html" with input_id="filter_search_text" target_id="order_list" %}
            <button class="btn btn-primary text-center" type="button" data-toggle="collapse"
                    data-target="#collapseFilter "
                    aria-expanded="false" aria-controls="collapseExample">
                Filter
            </button>
        </div>
        <div class="collapse" id="collapseFilter">
            {% include "common/order_filter.html" %}
        </div>
        <div class="list-group" id="order_list">
            {% for order in orders %}
                {% include "common/order_card.html" with order=order %}
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}