<!--
references: a list of options for other items. categorized by CatalogedItem subtype
    [{ subtype: str (name of subtype), options: [models.ItemOption]]

cataloged_item: the item being referred to.  only for editing cataloged items
options: options of cataloged item
sub_types: all subtypes of CatalogedItem
-->

{% extends "base.html" %}

{% block title %}
    {% if cataloged_item %}
        Edit "{{ cataloged_item.type }}"
    {% else %}
        New Cataloged Item
    {% endif %}
{% endblock %}

{% block body %}

{% include "item_option.html" %}


<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

</style>

<form method="post" class="container">
    {% csrf_token %}
    <div class="container text-center mt-3 mb-5 bg-light">
        <h1>{% if cataloged_item %}Edit Cataloged Item{% else %}New Cataloged Item{% endif %}</h1>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="cancel_item()">Cancel</button>
            <button type="button" class="btn btn-success ml-4" onclick="submit_item()">Submit</button>
        </div>
    </div>

    {% include "forms/text.html" with id="item_type" label="Item Type" required=True placeholder="Insert an item type"%}
    <div class="form-group">
        <label for="item_sub_type">Item sub-type</label>
        <input class="form-control" list="subtype_list" autocomplete="off" id="item_sub_type" size="20">
        <datalist id="subtype_list">
            {% for subtype in sub_types %}
            <option value="{{ subtype }}" class="btn">
            {% endfor %}
        </datalist>
    </div>
    <div class="form-group">
        <label for="item_description">Description</label>
        <textarea class="form-control" id="item_description"></textarea>
    </div>
    {% include "forms/check.html" with id="item_commissionable" label="Commissionable"%}
    {% include "forms/check.html" with id="item_sizeable" label="Has Dimensions"%}
    <div class="container text-center mt-5 mb-5">
        <h2>Options</h2>
        <button type="button" class="btn btn-success" onclick="item_option_new()">New</button>
        <div class="dropdown dropright btn-group" id="item_option_dropdown">
            <button class="btn dropdown-toggle btn-primary" type="button" data-toggle="dropdown">Reference Another
                <span class="caret"></span></button>
            <ul class="dropdown-menu dropright w-auto">
                <li class="dropdown-submenu">
                    {% for ref in references %}
                    <button class="btn dropdown-toggle btn-secondary expand w-100" type="button" data-toggle="dropdown" tabindex="-1">{{ref.subtype}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for option in ref.options %}
                        <li><button class="btn btn-light w-100" type="button" onclick="item_option_add_reference({{option.id}})">{{option.key}}</button></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="accordion mb-5" id="accordion">

    </div>
</form>


<script>

    function item_option_add_card(id, name, values) {
        /* id: id of ItemOption object
           name: ItemOption.key
           values: [{label: str, subtext: str}]
        */

        $(`#item_option${id}`).remove();

        let element = $(`{% include 'common/item_option_card.html' with id="${id}" parent_id="accordion" header="${name}" %}`)
        values.map(o => {
            element.find(".list-group").append(`{% include "common/item_option_value_card.html" with label="${o.label}" subtext="${o.subtext}" %}`)
        });
        $("#accordion").append(element);
    }

    function item_option_new() {
        $(".modal").modal("show");
        // referenced in item_option.html
        item_option_clear_fields();
        $("#item_option_modal_label").text("New Option");
    }

    function item_option_fetch(id) {
        /*
        id: id of item option

        from items.models.ItemOptionResponse
        returns null if error
        */
        let promise = sendHttpAsync(`/items/option/${id}`, "get");
        var body = null;
        return promise.then(resp => {
            console.log(resp);
            return resp.body;
        }).catch(err => {
            notify("danger", `ERROR Could not retrieve option data: ${err}`)
        });

    }

    function item_option_add_reference(id) {
        // add item_option card from a referenced ID
        item_option_fetch(id).then(option => {
            if (option === null) {
                return null;
            }
            item_option_add_card(id, option.key, option.values);
        });
    }

    function item_option_edit(id) {
        // referenced in item_option.html
        item_option_clear_fields();
        item_option_fetch(id).then(option => {
            if (option === null) {
                return;
            }
            // referenced in item_option.html
            item_option_set_fields(option.key, option.allow_multi, option.allow_null, option.values, id);
            $(".modal").modal("show");
            $("#item_option_modal_label").text(`Edit Option: "${option.key}"`);
        });
    }

    function submit_item() {
        /*
        Sends POST request for item to be posted. reference models.CatalogedItemResponse for more

        */
        let type = $("#item_type").val();
        let sub_type = $("#item_sub_type").val();
        let description = $("#item_description").val();
        let commissionable = $("#item_commissionable").is(":checked");
        let sizeable = $("#item_sizeable").is(":checked");
        let options = [];
        $(".card").map(function(i, e) {
            options.push($(e).prop("id").slice("item_option".length));
        });
        let body = {type: type,
        sub_type: sub_type,
        description: description,
        commissionable: commissionable,
        sizeable: sizeable,
        options: options};
        sendHttpAsync(current_url, "post", body).then(resp => {
            window.location.href = "/items";
        }).catch(err => {
            notify("danger", `ERROR: Could not submit item ${err}`);
        });
    }

    function cancel_item() {
        $(`{% include "common/modal.html" with id="cancel_item" title="Are you sure you want to cancel item?" body="Canceling will not save changes made to current item... Are you sure you want to cancel?" footer="<button type='button' class='btn btn-primary' onclick='cancel_item_cancel()'>Go Back</button><button type='button' class='btn btn-danger' onclick='window.location.href=\"/items\"'>Cancel</button>" %}`).insertAfter("nav");
        $("#cancel_item").modal("show");
    }

    function cancel_item_cancel() {
        $("#cancel_item").remove();
        $('.modal-backdrop').remove();
        $('body').removeClass( "modal-open" );
    }

{% if cataloged_item %}
$("#item_type").val("{{cataloged_item.type}}");
$("#item_sub_type").val("{{cataloged_item.sub_type}}");
$("#item_description").val(`{{cataloged_item.description|safe}}`);
$("#item_commissionable").prop("checked", {% if cataloged_item.commissionable %}true{% else %}false{% endif %});
$("#item_sizeable").prop("checked", {% if cataloged_item.sizeable %}true{% else %}false{% endif %});
{% for option in options %}
item_option_add_reference({{option.id}});
{% endfor %}

{% endif %}

</script>

<script>
$(document).ready(function(){
  $('.dropdown-submenu button.expand').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});

</script>

{% endblock %}