<!--
Submission of a new option list or edit i.e. "materials" ""
-->
<!-- data-refers will change depending on if the option is creating a new one or editing an existing one -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="item_option_modal_label"
     aria-hidden="true" id="item_option" data-refers="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="item_option_modal_label">New Option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="post">
                    <!-- Option -->
                    <!-- Delete and Save buttons -->
                    <div class="d-flex mt-2 mb-3">
                        <button class="p-2 btn btn-danger" type="button" onclick="item_option_delete()"><span class="bi bi-trash"></span> Delete Option
                        </button>
                        <button class="p-2 btn btn-success ml-auto" type="button" onclick="item_option_submit()"><span class="bi bi-check"></span>Submit
                            Option
                        </button>
                    </div>

                    {% include "forms/text.html" with id="item_option_name" label="Option Name" placeholder="Enter an option name" required=True %}
                    {% include "forms/check.html" with id="item_option_allow_many" label="Allow Multiple Selection"%}
                    {% include "forms/check.html" with id="item_option_allow_none" label="Allow No Selection" %}
                    <!-- Option Values -->
                    <div class="container" id="item_option_container">
                        <h3>Values:</h3>
                        <div class="row bg-light">  <!-- Titles -->
                            <div class="col-sm">
                                Value
                            </div>
                            <div class="col-sm">
                                Additional Info
                            </div>
                            <div class="col-sm">&nbsp;</div>
                        </div>
                        <!-- Options -->
                        <div class="row bg-light">
                            <div class="col-sm">
                                <input class="form-control" placeholder="Enter Value" id="item_option_label"/>
                                {% include "common/on_enter.html" with id="item_option_label" function="item_option_add()" %}
                            </div>
                            <div class="col-sm">
                                <input class="form-control" placeholder="Enter Additional Info"
                                       id="item_option_subtext"/>
                                {% include "common/on_enter.html" with id="item_option_subtext" function="item_option_add()" %}
                            </div>
                            <div class="col-sm">
                                <button class="btn btn-primary" onclick="item_option_add()" type="button">Add Value
                                </button>
                            </div>
                        </div>
                        <hr id="item_option_after_inputs">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function item_option_add_vals(label_name, subtext) {
        $("#item_option_container").append(`
                <div class="row bg-light mt-1">
                    <div class="col-sm">${label_name}</div>
                    <div class="col-sm">${subtext}</div>
                    <button type="button" class="btn btn-danger w-10" onclick="item_option_remove(this)">
                        <span class="bi bi-trash"></span> Delete
                    </button>
                 </div>
            `);
    }

    function item_option_add() {
        let label_name = $("#item_option_label");
        let subtext = $("#item_option_subtext");
        item_option_add_vals(label_name.val(), subtext.val());
        label_name.val("");
        subtext.val("");
    }

    function item_option_remove(button) {
        button.parentNode.remove();
    }

    function item_option_submit() {
        let values = [];
        $("#item_option_after_inputs").nextAll().map(function (i, e) {
            let [value, additional_info] = Array.from(e.children).slice(0, 2);
            values.push({label: value.innerText, subtext: additional_info.innerText});
        });
        let key = $("#item_option_name").val();
        let body = {key: key, allow_null: $("#item_option_allow_none").is(":checked"), allow_multi: $("#item_option_allow_many").is(":checked"), values: values
        };
        let refers_to = $("#item_option").data("refers");
        let promise = refers_to === "" ? sendHttpAsync("/items/option/add", "post", body) : sendHttpAsync(`/items/option/${refers_to}`, "post", body);
        promise.then(req => {
            $(".modal").modal("hide");
            notify_for("success", `New option <strong>"${body.key}"</strong> successfully added!`, 3000);
            // calling from item_new.html
            item_option_add_card(req.body.option_id, key, values);
        }).catch(err => {
            notify("danger", `ERROR could not submit item: ${err}`);
        });
    }

    function item_option_clear_fields() {
        $("#item_option_name").val("");
        $("#item_option_after_inputs").val("");
        $("#item_option_label").val("");
        $("#item_option_subtext").val("");
        $("#item_option_after_inputs").nextAll().remove();
        $("#item_option_allow_many").prop("checked", false);
        $("#item_option_allow_none").prop("checked", false);
        $(".modal").data("refers", "");
    }

    function item_option_set_fields(option_name, allow_many, allow_none, options, id) {
        /*
        option_name: name of option of ItemOption
        allow_many: ...
        allow_none: ...
        options: [{label: str, subtext: str}]
        id: ItemOption object ID that is refered to

        */
        $("#item_option_name").val(option_name);

        options.map(o =>  {
            item_option_add_vals(o.label, o.subtext);
        })
        $("#item_option_allow_many").prop("checked", allow_many);
        $("#item_option_allow_none").prop("checked", allow_none);
        $(".modal").data("refers", id);
    }

    function item_option_delete() {
        if ($(".modal").data("refers") === "") {
            // if the data isnt referring to an object id... it means
            // the option is not submitted into the system, so it doesn't matter
            // if it "gets deleted", because it is not submitted
            $(".modal").modal("hide");
            return;
        }
        $(".modal").modal("hide");
        let option_name = $("#item_option_name").val();
        $(`{% include "common/modal.html" with id="confirm_option_delete" title="Are you sure you want to delete \"${option_name}\"?" body="Deleting \"${option_name}\" may cause unwanted changes... <strong>Deleting this option will also remove this option from every other item that references it</strong>" footer="<button class='btn btn-secondary' type='button' onclick='item_option_delete_cancel()'>Cancel</button><button class='btn btn-danger' type='button' onclick='item_option_confirm_delete()'>Delete</button>" %}`).insertAfter("nav");
        $("#confirm_option_delete").modal("show");
    }

    function remove_item_option_delete_modal() {
        $('#confirm_option_delete').remove();
        $('.modal-backdrop').remove();
        $('body').removeClass( "modal-open" );
    }

    function item_option_delete_cancel() {
        remove_item_option_delete_modal();
        $(".modal").modal("show");
    }

    function item_option_confirm_delete() {
        // data MUST HAVE REFERS-TO
        remove_item_option_delete_modal();
        let refers_to = $(".modal").data("refers");
        let option_name = $("#item_option_name").val();
        sendHttpAsync(`/items/option/${refers_to}`, "delete").then(resp => {
            notify_for("success", `"${option_name}" Successfully deleted`, 2000);
            $(`#item_option${refers_to}`).remove();
        }).catch(err => {
            notify("danger", `<strong>ERROR: </strong> "${option_name}" could not be deleted: ${err}`);
        });
    }
</script>
