<!--
id: id of input
label?: name of date d: "Date"
required?: field is required d: False
on_change?: function to be called when changed. must take element as param d: None
help_text?: more info text d: ""
help_class?: class that is used for help text d: "form-text text-muted"
container_class?: class of container d: "form-group"
label_class?: class of label d: "control-label"
input_class?: class of input d:"form-control"
-->

<div class="{{container_class|default:'form-group'}}">
    <label class="{{label_class|default:'control-label'}}" for="{{id}}">{{label|default:"Date"}}</label>
    <input class="{{input_class|default:'form-control'}}" id="{{id}}" name="date" placeholder="MM/DD/YYY" {% if help_text %}aria-describedby="{{id}}Help"{% endif %} type="text" {% if required %} required {% endif %} {% if on_change %} onchange="{{on_change}}" {% endif %} name="{{id}}"/>
    {% if help_text %}<small id="{{id}}Help" class="{{help_class|default:'form-text text-muted'}}">{{help_text}}</small>{% endif %}>
</div>

<script>
    $(document).ready(function(){
      var date_input=$('input[id="{{id}}"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>